@import "../../style.scss";

.leftbar {
  @include themify($theme) {
    // border: 1px solid black;
    flex: 2;
    // display: flex;
    // align-items: start;
    position: sticky;
    top: 71px;
    height: calc(100vh - 71px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile{
      display: none;
    }

    hr {
      border: none;
      background-color: themed("borderSoft");
      height: 0.5px;
      margin: 20px 0;
    }

    span {
      font-size: 12px;
    }

    .container {
      // border: 1px solid red;
      padding: 15px;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 0px;

        .followers-followed-section{
          // border: 2px solid rgb(0, 30, 255);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: horizontal;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 0px;

          .btn{
            // border: 2px solid red;
            padding: 10px ;
            font-size: 1rem;
            flex: '10';
            // background-color: themed("bgSoft");
            border: 2px solid black;

          }

          .follower{
            background-color: rgb(160, 129, 89);
          }
          .followed{
            background-color: rgb(253, 175, 74);
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          img {
            object-fit: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
          }
          span {
            font-size: 18px;
            cursor: pointer;
          }
        }

        .items{
          padding:10px 10px;
          background-color:themed("bgSoft");
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-top: 0px;
          // border: 1px solid red;


          .item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
  
            img {
              object-fit: cover;
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            span {
              color: themed("textColor");
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
